/* 
    Component: Countdown Component
    Created by: Francis Vianney Salvamante
    Date Created: February 25, 2021
*/

.countdown-container {
    text-align: center;
    position: relative;
}

.countdown-container img {
    height: calc(100vh - 100px);
    width: 100%;
}

.countdown {
    position: absolute;
    top: 30%;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding-left: unset;
}

.coming-soon {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

.time-container {
    font-family: 'Poppins', sans-serif;
    float: left;
    margin-right: 30px;
}

.time-container:last-of-type {
    margin-right: unset;
}

.days, .hours, .minutes, .seconds {
    font-size: 50px;
}

.unit {
    font-size: 12px;    
}

.flex-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: unset;
}

/* Start of Responsive Design Logic */
@media only screen and (max-width: 800px) {
    .coming-soon {
        font-size: 55px;
    }

    .days, .hours, .minutes, .seconds {
        font-size: 40px;
    }

    .time-container {
        margin-right: 20px;
    }
}